@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    text-transform:capitalize ;
    color: black;
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;
    transition:all .2s linear;
    outline: none; 
    border:none;
    /* width: 100%; */


}

  
body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;

    background-image: url(home-bg.jpg);
}
header{
    display: flex;
    justify-content:flex-start;
    padding: 20px;
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color: white;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
   
}

.navigation a{
    padding: 40px;
}
#home{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;

}
.hm-pg{
    flex-basis: 40%;
    margin-left: 100px;
    margin-top: 100px;
}
.pg{
    flex-basis: 40%;

}
.pg img{
    margin-top: 0px;
    width: 100%;
    padding: 1rem;
    animation: 3s linear infinite;
}
p{
    margin-top: 20px;
}
input{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid red;
    color: red;
    cursor: pointer;
}
.heading{
    margin-top: 230px;
    text-align: center;
    font-size: 40px;
}
span{
    color: red;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
   
}
.box{

  padding: 20px;
  flex: 1 1 25rem;
  background-color: white;
  text-align: center;
  width: 350px;
  height: 250px;
  -webkit-box-shadow: 0 0 10px black;
  /* box-shadow: 0 0 10px black; */
}
.box img{
    margin-left: 20px;
  width:  80px;
  height: 50px;
  float: none;
}
.box2{
    position: relative;
    flex: 1 1 25rem;

    margin-top: 20px;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 400px;
    -webkit-box-shadow: 0 0 10px black;
}
.box2 img{
    margin-left: 0%;
    float: none;
    width: 90%;
    height: 50%;
    object-fit: cover;

}
.price{
    position: absolute;
    background-color: red;
    color: white; 
    top: 30px;
    left: 30px;
    border-radius: 2px;
}
.stars{
    margin-top: 20px;
}
.stars span{
    color: gold;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    
}
.step{
    padding: 40px;
    text-align: center;
    flex: 1 1 20rem;


}
.galleryBox{
    justify-content: space-around;
    flex: 1 1 25rem;

    margin-top: 20px;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 250px;
    -webkit-box-shadow: 0 0 10px black;
} 
.galleryBox img{
    width: 95%;
    height: 95%;
    margin-left: 3%;
    margin-top: 2%;

}
.review{
    flex: 1 1 25rem;

    margin-top: 70px;
    background-color:black;
    text-align: center;
    width: 350px;
    height: 250px;
    -webkit-box-shadow: 0 0 10px black;

 
} 
.review h1,.review p{
    color: white;
    margin-top: 0%;
}
.review img{
    width: 40%;
    height: 60%;
    border-radius: 50%;
    border: 10px solid white;
    margin-top: -60px;
    margin-left: 20px;
    float:none;
}
.order{
    position: relative;
    left: 100px;
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    flex-wrap: wrap;border-radius: 10px;
    gap: 50px;
    text-transform: none;

   
}
.order div img{
   float: none;
   margin-left: 5%;
   width: 400px;
   height: 370px;
   border-radius: 10px;
}
.order form{
    margin-top: 30px;
   
}
.order form .inputBox .input{
    width: 300px;
    border-radius: 7px;
    border: 1px solid grey;
    color: black;
}
.order form textarea{
    margin-top: 10px;
    width: 600px;
    border: 1px solid grey;
    height: 150px;

}
.order form input{
    border-radius: 7px;
}
.lastSection{
   
    margin-top: 5%;
    background-color: black;
    width: 100%;
    height: 100%;

}
.socialHandle{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.socialHandle h3{
    color: white;
}
.socialHandle .container{
    margin-top: 30px;
     width: 120px;
    height: 50px;
    border: 2px solid red;
    border-radius: 4px;
    text-align: center;
    background-color: black;
    color: red;
    padding-top: 15px;
}
.last h3{
    margin-top: 10px;
    color: white;
    margin-left: 30%;
    padding: 30px;
}

@media(max-width : 856px){
    header{
        height: 270px;

    }
    .navigation{
        margin-top: 0%;
    }
    .navigation a{
        display: block;
        padding: 10px;
    }
    #home{
        display: block;
        margin-top: 300px;
    }
    
}
@media(max-width:684px)  {
    .box{
        width: 100%;
        
       
    }
}  